@charset "UTF-8";

@import 'base/colors';
@import 'base/typography';
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

html {
  background-color: #7982ce;
}

//Shared
#app-container {
  text-align: center;
  margin: 50px auto;
  width: 900px;
}

#logo-container > img {
  width: 400px;
}

#home-button {
  margin-top: 20px;
}

.button {
  font-size: 20px;
  font-family: 'Josefin Slab', serif;
  background-color: #acce79;
  border: 1px solid #7ece2c;
  text-align: center;
  vertical-align: middle;
  color: white;
  margin: 0 auto;
  width: 120px;
  height: 50px;
  padding: 10px 15px;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  font-family: 'Josefin Slab', serif;
  color: white;
  width: 800px;
  margin: 0 auto;
  border: 2px solid #7ece2c;
  font-weight: bold;
}

table > thead > tr > th {
  border-bottom: 2px solid #7ece2c;
  font-size: 20px;
}

#search-container > * {
  float: left;
  margin-bottom: 10px;
}

#search-button {
  background-color: #acce79;
  color: white;
  border: 1px solid #7ece2c;
  text-align: center;
  border-radius: 5px;
}

label {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

//Headers
#home-container > #header-container > h1,
#insurance-container > #insurance-header > h1,
#pharmacy-container > #pharmacy-header > h1 {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  margin: 20px auto;
}

#insurance-header {
  width: 700px;
  margin: 0 auto;
}

//Home
#home-container > #button-container {
  margin: 0 auto;
  width: 400px;
}

#insurance-button {
  float: left;
  margin-left: 50px;
}

#pharmacy-button {
  float: right;
  margin-right: 50px;
}

//Insurance

//Pharmacy
